[v-cloak]{
  display: none;
}



/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.outerBoxSection {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}



.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

/*---make a basic box ---*/
.box{
  width: 200px;
  height: 200px;
  position: relative;
  margin: 10px;
  float: left;
  border: 1px solid #333;
  background: #999;

}



h1, h2, p{

    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #6b6b6b;
    margin-block-start: 0;
    margin-block-end: 0;
  }

h1{
  font-size: 3em;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}






/* not the best way to have spacing - but used for quick visual comparison, change the margin-b-e next time */
h2{
  font-weight: 300;
  font-size:1em;
  color: #e5601d;
  margin-block-end: 0em;
  font-family: 'Open Sans', sans-serif;

}
p{
  font-size: 0.8em;
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;




}


#highlight{
    color:#7a2847;
    }


/* Mobile First Layout */
[class*="Section"]{
  width: 100%;
}



/* Media Query Breakpoints*/
/* detect not a mobile - i.e. desktop */
@media only screen and (min-width: 768px){

  h1{
    font-size: 6em;
  }
  h2{
    font-size: 2.2em;
    margin-block-end: 0.8em;
  }

  p{
    font-size: 1em;

  }

  body{
    width: 100%;
    margin: 0;
  }

  .outerBoxSection{
    width: 80%;
    margin-left: auto;
    margin-right:auto;

  }

  .topHeaderSection{
      width: 100%;
  }
}
